<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>
  <div id="app" class="container">
    <div class="main">
      <h1 class="title"><span class="h6">目前號碼：</span><br>{{ currentNumber }}</h1>
    </div>

    <ul class="list-unstyled">
      <li>總人數：{{ total }}</li>
    </ul>
    <a href="#" class="btn btn-primary mb-2" @click.prevent="clickNum('down')">
      下一位
    </a>
    <a href="#" class="btn btn-outline-primary" @click.prevent="clickNum('up')"
      :class="{'disabled': currentNumber <= 0}">
      上一位
    </a>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js'></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        currentNumber: 0,
        total: 0
      },
      methods: {
        initializeApp(){
          //連接資料庫設定
          const firebaseConfig = {
            apiKey: "<%= fireClient.apiKey %>",
            authDomain: "<%= fireClient.authDomain %>",
            databaseURL: "<%= fireClient.databaseURL %>",
            storageBucket: "<%= fireClient.storageBucket %>",
          };
          firebase.initializeApp(firebaseConfig);
          const database = firebase.database();

          database.ref('/').on('value', (snapshot) => {
            this.currentNumber = snapshot.val().currentNumber;
            this.total = snapshot.val().user.num;
          })
        },
        clickNum(item) {
          let cacheNumber = this.currentNumber;
          if(item === 'down') {
            cacheNumber += 1;
          } else {
            cacheNumber -= 1;
          }
          axios.post('/hexschoolAdmin', { currentNumber: cacheNumber }).then((res) => {
            console.log(res.data);
          })
        }
      },
      created() {
        this.initializeApp();
      }
    })
  </script>
</body>

</html>