<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="app" class="container">
    <div class="main">
      <h1 class="title">{{ num }}</h1>
      <p class="subtitle">前面等待：<span>{{ num - currentNumber }}</span> 組</p>

      <ul class="list">
        <li>目前叫號：<span>{{ currentNumber }}</span></li>
        <li>更新時間：<span>{{ currentDate }}</span></li>
      </ul>
    </div>
    <a href="#" class="btn btn-primary" type="button" @click.prevent="getNumber"
      :class="user.length ? 'disabled' : ''">取號</a>
    <a href="https://www.hexschool.com/" class="btn btn-outline-primary" target="_blank">
      六角官網
    </a>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-database.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js'></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        num: 0,
        // totalNumber: 0,
        currentNumber: 0,
        currentDate: 0,
        user: [],
        waitNumber: 0,
      },
      methods: {
        initializeApp() {

          //連接資料庫設定
          const firebaseConfig = {
            apiKey: "<%= fireClient.apiKey %>",
            authDomain: "<%= fireClient.authDomain %>",
            databaseURL: "<%= fireClient.databaseURL %>",
            storageBucket: "<%= fireClient.storageBucket %>",
          };
          firebase.initializeApp(firebaseConfig);
          const database = firebase.database();

          database.ref('/').on('value', (snapshot) => {
            // console.log(snapshot.val());
            this.num = snapshot.val().num;
            this.currentDate = snapshot.val().currentDate;
            this.currentNumber = snapshot.val().currentNumber;
          })
        },
        getNumber() {
          axios.post('/').then((res) => {
            if (res.data.status) {
              console.log('取號成功');
              //  將取號的資訊存在localStorage
              const userNum = JSON.stringify(res.data.user);
              localStorage.setItem('USER', userNum);
              const data = JSON.parse(localStorage.getItem('USER')) || {};
              this.user = data;
            }
          })
        }
      },
      created() {
        this.initializeApp();

        // 將取號資訊從localStorage中取出
        const data = JSON.parse(localStorage.getItem('USER')) || {};
        this.user = data;
      },
    })
  </script>
</body>

</html>